<header class="site-header">
  <img class="header-image" src="{{"/assets/images/icon.png" | relative_url }}" />
  <nav class="header-links">
    <li class="main-header-link">
      <h1 class="site-title">
        {{ site.title | escape }}
      </h1>
    </li>
    <li class="other-header-link">
      <a href="{{ "/" | relative_url }}" class="header-link">
        <h2 class="section-title">blog</h2>
      </a>
    </li>
    <li class="other-header-link">
      <a href="{{ "/about" | relative_url }}" class="header-link">
        <h2 class="section-title">about</h2>
      </a>
    </li>
    <li class="other-header-link">
      <a href="{{ "/projects" | relative_url }}" class="header-link">
        <h2 class="section-title">projects</h2>
      </a>
    </li>
  </nav>
</header>
