<header class="nav-header">
  <nav class="nav">
    <img class="nav-image" src="{{"/assets/images/icon.png" | relative_url }}" />
    <h1 class="nav-title">
      {{ site.title | escape }}
    </h1>
    <div class="nav-links">
      <a href="{{ "/" | relative_url }}" class="nav-link">home</a>
      <a href="{{ "/blog" | relative_url }}" class="nav-link">blog</a>
      <a href="{{ "/about" | relative_url }}" class="nav-link">about</a>
      <a href="{{ "/projects" | relative_url }}" class="nav-link">projects</a>
    </div>
  </header>
  <hr class="header-divider"/>
</nav>
