// .hll {
//   background-color: #ffffcc;
// }

// MathJax uses some overlapping class names!
code > {
    // Comment
    .c {
        color: #928374;
        font-style: italic;
        background-color: #282828;
    }
    
    // Error
    .err {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Escape
    .esc {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Generic
    .g {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Keyword
    .k {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Literal
    .l {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name
    .n {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Operator
    .o {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Other
    .x {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Punctuation
    .p {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Comment.Hashbang
    .ch {
        color: #928374;
        font-style: italic;
        background-color: #282828;
    }
    
    // Comment.Multiline
    .cm {
        color: #928374;
        font-style: italic;
        background-color: #282828;
    }
    
    // Comment.Preproc
    .cp {
        color: #8ec07c;
        background-color: #282828;
    }
    
    // Comment.Single
    .c1 {
        color: #928374;
        font-style: italic;
        background-color: #282828;
    }
    
    // Comment.Special
    .cs {
        color: #928374;
        font-style: italic;
        background-color: #282828;
    }
    
    // Generic.Deleted
    .gd {
        color: #282828;
        background-color: #fb4934;
    }
    
    // Generic.Emph
    .ge {
        color: #83a598;
        text-decoration: underline;
        background-color: #282828;
    }
    
    // Generic.Error
    .gr {
        color: #ebdbb2;
        font-weight: bold;
        background-color: #fb4934;
    }
    
    // Generic.Heading
    .gh {
        color: #b8bb26;
        font-weight: bold;
        background-color: #282828;
    }
    
    // Generic.Inserted
    .gi {
        color: #282828;
        background-color: #b8bb26;
    }
    
    // Generic.Output
    .go {
        color: #504945;
        background-color: #282828;
    }
    
    // Generic.Prompt
    .gp {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Generic.Strong
    .gs {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Generic.Subheading
    .gu {
        color: #b8bb26;
        font-weight: bold;
        background-color: #282828;
    }
    
    // Generic.Traceback
    .gt {
        color: #ebdbb2;
        font-weight: bold;
        background-color: #fb4934;
    }
    
    // Keyword.Constant
    .kc {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Keyword.Declaration
    .kd {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Keyword.Namespace
    .kn {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Keyword.Pseudo
    .kp {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Keyword.Reserved
    .kr {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Keyword.Type
    .kt {
        color: #fabd2f;
        background-color: #282828;
    }
    
    // Literal.Date
    .ld {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Literal.Number
    .m {
        color: #d3869b;
        background-color: #282828;
    }
    
    // Literal.String
    .s {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Name.Attribute
    .na {
        color: #b8bb26;
        font-weight: bold;
        background-color: #282828;
    }
    
    // Name.Builtin
    .nb {
        color: #fabd2f;
        background-color: #282828;
    }
    
    // Name.Class
    .nc {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name.Constant
    .no {
        color: #d3869b;
        background-color: #282828;
    }
    
    // Name.Decorator
    .nd {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name.Entity
    .ni {
        color: #fabd2f;
        background-color: #282828;
    }
    
    // Name.Exception
    .ne {
        color: #fb4934;
        background-color: #282828;
    }
    
    // Name.Function
    .nf {
        color: #fabd2f;
        background-color: #282828;
    }
    
    // Name.Label
    .nl {
        color: #fb4934;
        background-color: #282828;
    }
    
    // Name.Namespace
    .nn {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name.Other
    .nx {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name.Property
    .py {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name.Tag
    .nt {
        color: #fb4934;
        background-color: #282828;
    }
    
    // Name.Variable
    .nv {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Operator.Word
    .ow {
        color: #fe8019;
        background-color: #282828;
    }
    
    // Text.Whitespace
    .w {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Literal.Number.Bin
    .mb {
        color: #d3869b;
        background-color: #282828;
    }
    
    // Literal.Number.Float
    .mf {
        color: #d3869b;
        background-color: #282828;
    }
    
    // Literal.Number.Hex
    .mh {
        color: #d3869b;
        background-color: #282828;
    }
    
    // Literal.Number.Integer
    .mi {
        color: #d3869b;
        background-color: #282828;
    }
    
    // Literal.Number.Oct
    .mo {
        color: #d3869b;
        background-color: #282828;
    }
    
    // Literal.String.Backtick
    .sb {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Char
    .sc {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Doc
    .sd {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Double
    .s2 {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Escape
    .se {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Heredoc
    .sh {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Interpol
    .si {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Other
    .sx {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Regex
    .sr {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Single
    .s1 {
        color: #b8bb26;
        background-color: #282828;
    }
    
    // Literal.String.Symbol
    .ss {
        color: #83a598;
        background-color: #282828;
    }
    
    // Name.Builtin.Pseudo
    .bp {
        color: #fabd2f;
        background-color: #282828;
    }
    
    // Name.Variable.Class
    .vc {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name.Variable.Global
    .vg {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Name.Variable.Instance
    .vi {
        color: #ebdbb2;
        background-color: #282828;
    }
    
    // Literal.Number.Integer.Long
    .il {
        color: #d3869b;
        background-color: #282828;
    }
}