// site header
.site-header {
    display: flex;
    flex-direction: row;
    max-height: 72px;
    align-items: center;
    justify-content: center;
}
.header-image-box {
    margin-right: 1rem;
}
.header-image {
    max-height: 72px;
    height: 72px;
}
.header-links {
    display: flex;
    padding-left: 0;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
.main-header-link {
    margin-right: 2rem;
}
.other-header-link {
    margin: 0 0.5rem;
}
.header-link {
    text-decoration: none;
}
.site-title {
    color: $coral-pop;
}
.section-title {
    color: $vibrant-violet;
}
