---
---
// vscode HATES liquid
// this lets me use the color variables in css
// as well as elsewhere in the page content,
// e.g. in a <canvas>
{% for color in site.data.colors %}
${{ color.name }}: {{ color.hex }};
.{{ color.name }} {
  background-color: ${{color.name}};
  border-radius: 0.25rem;
}
{% endfor %}

// navbar
nav {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin: 0.5rem;
}

@media screen and (max-width: 899px) {
  .nav-links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .nav-links {
    display: block;
  }
}

.nav-title {
  color: $accessibletomato;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.nav-link {
  margin: 0 0.5rem;
  font-size: 1.1rem;
}

.nav-link {
  color: $marine;
  text-decoration: none;
}

.nav-link:hover {
  color: $aqua;
  text-decoration: underline solid rgba($color: $aqua, $alpha: 0.5) 2px;
}

// dividers
hr {
  border: 2px dashed rgba($color: $tomato, $alpha: 0.4);
}

// Section titles
h1, h2, h3 {
  color: $darktomato;
  font-weight: normal;
}


// disable scrollbars and enable proper canvas sizing
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// center the main content
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  // give some room for viewing the background
  min-height: 125%;
  // main colors and fonts
  background-color: $bright;
  font-family: "Noto Sans";
}

main {
  background-color: rgba($color: $light, $alpha: 0.9);
  border: 4px solid rgba($color: $tomato, $alpha: 0.2);
}

// responsiveness
@media screen and (max-width: 799px) {
  main {
    padding: 0.5rem 1.5rem;
    margin-top: 0.5rem;
    width: 80%;
  }
}

@media screen and (min-width: 800px) {
  main {
    margin: 2rem;
    border-radius: 0.5rem;
    width: 65%;
    padding: 0.5rem 3rem;
  }
}

// links
a {
  color: $marine;
  text-decoration: underline solid rgba($color: $marine, $alpha: 0.5) 2px;
}

a:hover {
  color: $aqua;
  text-decoration: underline solid rgba($color: $aqua, $alpha: 0.5) 2px;
}

// make visited links only
a:visited:not(.header-link, .title-link, .nav-link) {
  color: $velvet;
  text-decoration: underline solid rgba($color: $velvet, $alpha: 0.5) 2px;
}

a:visited:hover:not(.header-link, .title-link, .nav-link) {
  color: $purpur;
  text-decoration: underline solid rgba($color: $purpur, $alpha: 0.5) 2px;
}

// special kinds of links
a.header-link {
  color: $darktomato;
  text-decoration: underline solid rgba($color: $darktomato, $alpha: 0.2) 2px;
}

a.title-link {
  color: $darktomato;
  text-decoration: none;
}

a.header-link:hover {
  color: $darktomato;
  text-decoration: underline solid $darktomato 2px;
}

a.title-link:hover {
  color: $darktomato;
  text-decoration: underline solid $darktomato 2px;
}

// rss
.rss-subscribe {
  color: $dark;
  font-size: 0.9rem;
}

// tables
table {
  margin-left: auto; 
  margin-right: auto;
  border-spacing: 0;
  border-radius: 2px;
}

// image and video styling !
// includes captions also
img, video, figcaption {
  max-width: 90%;
}

// experiment with stylistic clipping
// img, video {
//   --x: 0.5em;
//   --y: calc(var(--x) * 3);
//   clip-path: polygon(
//     0px var(--y), var(--x) var(--x), var(--y) 0px,
//     calc(100% - var(--y)) 0px, calc(100% - var(--x)) var(--x), 100% var(--y),
//     100% calc(100% - var(--y)), calc(100% - var(--x)) calc(100% - var(--x)), calc(100% - var(--y)) 100%,
//     var(--y) 100%, var(--x) calc(100% - var(--x)), 0px calc(100% - var(--y)),
//   );
// }

figure {
  width: 100%;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, th, td {
  border: 1px solid $grey;
}

// feed
.feed {
  list-style-type: none;
  padding-left: 0;
}

// post headers
.post-metadata {
  color: $dark;
  font-size: 0.9rem;
}

.category {
  list-style: none;
  padding: 0 0.5rem;
  border-radius: 5px;
  height: fit-content;
  background-color: rgba($color: $gold, $alpha: 0.5);
}

// webring
iframe {
  width: 100%;
  height: 2.5em;
  border: 2px dashed rgba($color: $tomato, $alpha: 0.4);
}

// Code blocks
// https://github.com/daveyarwood/gruvbox-pygments/tree/master
.highlighter-rouge {
  background: #282828;
  color: #ebdbb2;
  background-color: #282828;
  border-radius: 5px;
  padding: 2px;
  overflow-x: scroll;
}

.highlight {
  margin: 0;
  padding: 2px;
}

@import "code.scss";
