---
---
// vscode HATES liquid
// this lets me use the color variables in css
// as well as elsewhere in the page content,
// e.g. in a <canvas>
{% for color in site.data.colors %}
${{ color.name }}: {{ color.hex }};
.{{ color.name }} {
  background-color: ${{color.name}};
  border-radius: 0.25rem;
}
{% endfor %}

// nav
nav {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

@media screen and (max-width: 899px) {
  .nav-links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .nav-links {
    display: block;
  }
}

hr {
  margin: 2rem 0;
  border-style: dashed;
}

.nav-title {
  color: $tomato;
  margin-right: 2rem;
  font-size: 2.5rem;
}

.nav-link {
  margin: 0 0.5rem;
  font-size: 1.25rem;
  color: $marine;
  text-decoration: underline solid $aqua 2px;
}

.nav-link:hover {
  color: $aqua
}

// Section titles
h1, h2 {
  color: $marine;
  font-weight: normal;
}

// Post feed
.excerpt-title {
  color: $marine;
  text-decoration: underline solid $aqua 2px;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.published-at {
  flex-shrink: 4;
  font-style: italic;
}

// Disable scrollbars and 
// enable proper canvas sizing
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// Center the main content
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  // give some room for viewing the background
  min-height: 125%;
}

// main colors and fonts
body {
  background-color: $bright;
  font-family: "Noto Sans";
}

.content {
  background-color: rgba($color: $light, $alpha: 0.9);
}

// responsiveness
@media screen and (max-width: 899px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
    width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .content {
    margin: 2rem;
    border-radius: 0.5rem;
    width: 55%;
    padding: 3rem 5rem;
  }
}

// big links
.posts-link {
  color: $marine;
  text-decoration: underline solid $aqua 2px;
}

.posts-link:hover {
  color: $aqua
}

// rss
.rss-subscribe {
  font-style: italic;
}

// tables
table {
  margin-left: auto; 
  margin-right: auto;
  border-spacing: 0;
  border-radius: 2px;
}

table, th, td {
  border: 1px solid $grey;
}

// categories
.categories {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0.5rem;
}

.category {
  list-style: none;
  margin-right: 1rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  background-color: $gold;
}

// Code blocks
// https://github.com/daveyarwood/gruvbox-pygments/tree/master
.highlighter-rouge {
  background: #282828;
  color: #ebdbb2;
  background-color: #282828;
  border-radius: 5px;
  padding: 2px;
}

.highlight {
  margin: 0;
  padding: 2px;
}

@import "code.scss";
