---
---
// vscode HATES liquid
// this lets me use the color variables in css
// as well as elsewhere in the page content,
// e.g. in a <canvas>
{% for color in site.data.colors %}
${{ color.name }}: {{ color.hex }};
.{{ color.name }} {
  color: ${{color.name}};
}
{% endfor %}

// site header
.nav-header {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  justify-content: center;
}

.header-divider {
  margin: 2rem 0;
  border-style: dashed;
}

.nav-image {
  height: 72px;
  margin-right: 1rem;
}

.nav-title {
  color: $tomato;
  margin-right: 2rem;
  font-size: 3rem;
}

.nav-link {
  margin: 0 0.5rem;
  font-size: 0.8rem;
  color: $marine;
  text-decoration: underline solid $aqua 2px;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: $aqua
}

// Section titles
h1, h2 {
  color: $marine;
  font-weight: normal;
}

// Post feed
.feed {
  padding: 0
}

.feed-entry {
  list-style: none;
}

.feed-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.excerpt-title {
  color: $marine;
  text-decoration: underline solid $aqua 2px;
  font-size: 1.2rem;
}

// Disable scrollbars and 
// enable proper canvas sizing
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// Center the main content
.content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  // give some room for viewing the background
  min-height: 125%;
}

// main colors and fonts
body {
  background-color: $bright;
  font-family: "Noto Sans";
}

.content {
  background-color: rgba($color: $light, $alpha: 0.9);
}

// responsiveness
@media screen and (max-width: 849px) {
  .content {
    width: fit-content;
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 850px) {
  .content {
    margin: 2rem;
    border-radius: 0.5rem;
    max-width: 55%;
    padding: 3rem 5rem;
  }
}

// tables
table {
  border-spacing: 0;
  border-radius: 2px;
  margin: 0 10%;
}

table, th, td {
  border: 1px solid $grey;
}

// Code blocks
// https://github.com/daveyarwood/gruvbox-pygments/tree/master
.hll {
  background-color: #ffffcc;
}

.highlighter-rouge {
  background: #282828;
  color: #ebdbb2;
  background-color: #282828;
  border-radius: 5px;
  padding: 2px;
}

.highlight {
  margin: 0;
  padding: 2px;
}

.c {
  color: #928374;
  font-style: italic;
  background-color: #282828;
}

/* Comment */
.err {
  color: #ebdbb2;
  background-color: #282828;
}

/* Error */
.esc {
  color: #ebdbb2;
  background-color: #282828;
}

/* Escape */
.g {
  color: #ebdbb2;
  background-color: #282828;
}

/* Generic */
.k {
  color: #fe8019;
  background-color: #282828;
}

/* Keyword */
.l {
  color: #ebdbb2;
  background-color: #282828;
}

/* Literal */
.n {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name */
.o {
  color: #fe8019;
  background-color: #282828;
}

/* Operator */
.x {
  color: #ebdbb2;
  background-color: #282828;
}

/* Other */
.p {
  color: #ebdbb2;
  background-color: #282828;
}

/* Punctuation */
.ch {
  color: #928374;
  font-style: italic;
  background-color: #282828;
}

/* Comment.Hashbang */
.cm {
  color: #928374;
  font-style: italic;
  background-color: #282828;
}

/* Comment.Multiline */
.cp {
  color: #8ec07c;
  background-color: #282828;
}

/* Comment.Preproc */
.c1 {
  color: #928374;
  font-style: italic;
  background-color: #282828;
}

/* Comment.Single */
.cs {
  color: #928374;
  font-style: italic;
  background-color: #282828;
}

/* Comment.Special */
.gd {
  color: #282828;
  background-color: #fb4934;
}

/* Generic.Deleted */
.ge {
  color: #83a598;
  text-decoration: underline;
  background-color: #282828;
}

/* Generic.Emph */
.gr {
  color: #ebdbb2;
  font-weight: bold;
  background-color: #fb4934;
}

/* Generic.Error */
.gh {
  color: #b8bb26;
  font-weight: bold;
  background-color: #282828;
}

/* Generic.Heading */
.gi {
  color: #282828;
  background-color: #b8bb26;
}

/* Generic.Inserted */
.go {
  color: #504945;
  background-color: #282828;
}

/* Generic.Output */
.gp {
  color: #ebdbb2;
  background-color: #282828;
}

/* Generic.Prompt */
.gs {
  color: #ebdbb2;
  background-color: #282828;
}

/* Generic.Strong */
.gu {
  color: #b8bb26;
  font-weight: bold;
  background-color: #282828;
}

/* Generic.Subheading */
.gt {
  color: #ebdbb2;
  font-weight: bold;
  background-color: #fb4934;
}

/* Generic.Traceback */
.kc {
  color: #fe8019;
  background-color: #282828;
}

/* Keyword.Constant */
.kd {
  color: #fe8019;
  background-color: #282828;
}

/* Keyword.Declaration */
.kn {
  color: #fe8019;
  background-color: #282828;
}

/* Keyword.Namespace */
.kp {
  color: #fe8019;
  background-color: #282828;
}

/* Keyword.Pseudo */
.kr {
  color: #fe8019;
  background-color: #282828;
}

/* Keyword.Reserved */
.kt {
  color: #fabd2f;
  background-color: #282828;
}

/* Keyword.Type */
.ld {
  color: #ebdbb2;
  background-color: #282828;
}

/* Literal.Date */
.m {
  color: #d3869b;
  background-color: #282828;
}

/* Literal.Number */
.s {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String */
.na {
  color: #b8bb26;
  font-weight: bold;
  background-color: #282828;
}

/* Name.Attribute */
.nb {
  color: #fabd2f;
  background-color: #282828;
}

/* Name.Builtin */
.nc {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Class */
.no {
  color: #d3869b;
  background-color: #282828;
}

/* Name.Constant */
.nd {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Decorator */
.ni {
  color: #fabd2f;
  background-color: #282828;
}

/* Name.Entity */
.ne {
  color: #fb4934;
  background-color: #282828;
}

/* Name.Exception */
.nf {
  color: #fabd2f;
  background-color: #282828;
}

/* Name.Function */
.nl {
  color: #fb4934;
  background-color: #282828;
}

/* Name.Label */
.nn {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Namespace */
.nx {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Other */
.py {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Property */
.nt {
  color: #fb4934;
  background-color: #282828;
}

/* Name.Tag */
.nv {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Variable */
.ow {
  color: #fe8019;
  background-color: #282828;
}

/* Operator.Word */
.w {
  color: #ebdbb2;
  background-color: #282828;
}

/* Text.Whitespace */
.mb {
  color: #d3869b;
  background-color: #282828;
}

/* Literal.Number.Bin */
.mf {
  color: #d3869b;
  background-color: #282828;
}

/* Literal.Number.Float */
.mh {
  color: #d3869b;
  background-color: #282828;
}

/* Literal.Number.Hex */
.mi {
  color: #d3869b;
  background-color: #282828;
}

/* Literal.Number.Integer */
.mo {
  color: #d3869b;
  background-color: #282828;
}

/* Literal.Number.Oct */
.sb {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Backtick */
.sc {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Char */
.sd {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Doc */
.s2 {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Double */
.se {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Escape */
.sh {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Heredoc */
.si {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Interpol */
.sx {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Other */
.sr {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Regex */
.s1 {
  color: #b8bb26;
  background-color: #282828;
}

/* Literal.String.Single */
.ss {
  color: #83a598;
  background-color: #282828;
}

/* Literal.String.Symbol */
.bp {
  color: #fabd2f;
  background-color: #282828;
}

/* Name.Builtin.Pseudo */
.vc {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Variable.Class */
.vg {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Variable.Global */
.vi {
  color: #ebdbb2;
  background-color: #282828;
}

/* Name.Variable.Instance */
.il {
  color: #d3869b;
  background-color: #282828;
}

/* Literal.Number.Integer.Long */