<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {%- if page.title -%}
      <title>{{ page.title }} - {{ site.title }}</title>
    {%- else -%}
      <title>{{ site.title }}</title>
    {%- endif -%}
    {% seo title=false %}
    {%- feed_meta -%}
    <script src="{{ "/assets/scripts/canvas.js" | relative_url }}"></script>
    <script>
      COLORS = {
        {% for color in site.data.colors %}
        "{{ color.name }}": "{{ color.hex }}",
        {% endfor %}
      }
    </script>
  </head>
  <body>
    <canvas id="canvas">
      <!-- prerendered tiling image for nojs clients -->
    </canvas>
    <div class="content-flex">
      <main class="content">
        {%- include nav.html -%}
        {{ content }}
      </main>
    </div>
  </body>
</html>
