<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- if page.title -%}
      <title>{{ page.title }} - {{ site.title }}</title>
      <meta name="description" content="{{ page.title }}">
    {%- else -%}
      <title>{{ site.title }}</title>
    {%- endif -%}
    {%- feed_meta -%}
  </head>
  <body>
    {%- include header.html -%}
    <main>
      {{ content }}
    </main>
  </body>
</html>
