---
layout: default
---
<article>
  <div class="post-header">  
    <h2>
      <a class="header-link" href="{{ post.url | relative_url }}">
        {{ page.title | escape }}
      </a>
    </h2>
    <span class="post-metadata">
      <time datetime="{{ post.date | date_to_xmlschema }}" >
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% for category in page.categories %}
        | <span class="category">{{ category }}</span>
      {% endfor %}
    </span>
  </div>
  {{ content }}
</article>
